.headerBackgroundImage {
  width: 100%;
}

.headerHeroTitleHighlight {
  color: red;
}

.alignEaseBackgroundImage {
  width: 388px;
}

.alignEaseForegroundImage {
  position: absolute;
  right: 0;
  width: 482px;
}