.inputFieldLabel {
  font-size: 16px;
  font-weight: 600;
}

.inputField {
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  height: 40px;
  padding: 8px;
}

.registerLink {
  color: #DB002B;
  font-weight: 500;
}

.signInBackgroundImage {
  width: 100%;
}

.signInForgroundImage {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 409px;
}